*{
    padding: 0;
    margin: 0;
    font-family: ;
    box-sizing: border-box;
}
.contact{
    height: 100vh;
    width:100% ;
    background-image:url('imagessss/converted.png');
    background-size: auto;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: antiquewhite;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:rgb(104, 41, 223) ; 
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(104, 41, 223);
    transition: .4s;
}
.btn{
    background-color:rgb(104, 41, 223) ;
    color: rgba(39, 7, 97, 0.8);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    color: #fcfc;
    margin-bottom: 50px;
}
.newsletter form{
    width: 350px;
    max-width: 100%;
    position: relative;
}
.newsletter form input{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(19, 2, 51);
    outline: none;
    border-radius: 30px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(11, 7, 15);
}
.about img{
height: auto;
width: 450px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(104, 41, 223);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(104, 41, 223);
    cursor: pointer;
}








