*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif

}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('images\ \(30\).jpeg');
    background-size: cover;
    display: block;

    
}
.contact .content
{
    max-width: 800px;
    text-align: center;
    
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content
{
    font-weight: 500;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin-top: 30px;
    color: gray;
    
    
}
.container .contacinfo
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
 .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 5%;
    color: gray;
}
.container .contacInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contacInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contacInfo .box .text h3
{
   font-weight: 500px;
   color: #00bcd4;
}
.contactForm{
    width: 100%;
    height: 60%;
    padding: 20%;
    background: #fff;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 0%;
}
.contactForm h1
{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
 .inputbox1
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox 
{
    width: 100%;
    padding: 5px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    border-bottom: 2px solid #666;
    outline: none;
    resize: none;
    position: relative;
    background-color: #666;
    color: #fff;
    transition: 0.5s ;
    margin: 10px 0;
    left: 0;
}
.inputBox2
{
    position: absolute;
    left: 0;
    padding: 5px ;
    font-size: 16px;
    margin: 10px  0;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus~span
.contactForm .inputBox input:valid~span
.contactForm .inputBox textarea:focus~span
.contactForm .inputBox textarea:valid~span
{
    color:#e91e63 ;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="sbmit"]
{
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* @media (max=width:991px) 

.contact
    {
        padding: 50px; */



    



