*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    background-color: rgb(26, 3, 68);
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    color: white;
    
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #ffffff;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   margin: 0px 20px;
   padding: 20px 20px;
   background-color: #efefef;
   border-radius: 10px;
   cursor: pointer; 
}
.card:hover{
    background-color: #b8d4de;
    transition: 0.4s ease;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #2c677c;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;

}
.button:hover{
    background-color: #c94f4f;
    transition: 0.4s ease;
}
@media screen and (max-width:940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display:flex;
        margin: 20px 0px;
    }
}
/* footer */
.footer{
    background-color: #24262b;
    margin: 0%;
    padding: 70px 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size:18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
body{
    line-height: 1.5;
    font-family: 'poppins',sans-serif;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width:767px){
    .footer-col{
    width: 25%;
    margin-bottom: 30px;
}
}
@media(max-width:574px){
    .footer-col{
    width: 100%;
}
}
